{% extends 'index.html' %}
{% load crispy_forms_tags %}

{% block start %}
<div class="container mt-4">
    <h2>Change password for: {{ query.name }}</h2>

    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-primary mt-3">Change Password</button>
    </form>

    <p></p>
    <!-- Кнопка запуска модального окна -->
    <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Reset
    </button>

    <!-- Модальное окно -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <form method="post" action="{% url 'reset' query.uuid %}">
          {% csrf_token %}
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">To confirm, type your account password</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <input type="password" name="account_password" class="form-control" placeholder="Account password" required>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
              <button type="submit" class="btn btn-danger">OK</button>
            </div>
          </div>
        </form>
      </div>
    </div>
</div>
{% endblock %}
